VITE_SUPABASE_URL="https://rjlymghylrshudywrzec.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqbHltZ2h5bHJzaHVkeXdyemVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE4ODgzODIsImV4cCI6MjA2NzQ2NDM4Mn0.C4aGzJCzk7iMIC9xWBpEKn9mBYHpVPg78THZb4unJqM" 